body {
    background: #222;
    font-family: sans-serif;
}
canvas {
    background: url(../images/canvas-bg.jpg), repeat;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #222;
    cursor: url(../images/cursor.png), crosshair;
    margin: 0 auto;


}

@media(min-width: 480px) {
    canvas {
        width: 300px;
        height: 450px ;
    }
}
@media(min-width: 720px){
    canvas {
        width: 550px;
        height: 450px ;
    }
}
@media(min-width: 1200px) {
    canvas {
        width: 800px;
        height: 600px ;
    }
}
@media(min-width: 2400px){
    canvas {
        width: 1200px;
        height: 800px ;
    }
}

.controls {
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    background-color: #222222;
    padding: 30px;
}
ul {
    list-style: none;
    margin: 0;
    float: 	left;
    padding: 20px 0 20px;
    width: 100%;
    text-align: center;
    display: block;
}

ul li, #newColor {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 60px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 3px 0 0 #222;
}

ul li {
    display: inline-block;
    margin: 0 5px 10px;
}

.red {
    background: #fc4c4f;
}

.blue {
    background: #4fa3fc;
}

.yellow {
    background: #ECD13F;
}

.selected {
    border: 4px solid #fff;

}
.controls button {
    background: #68B25B;
    box-shadow: 0 3px 0 0 #6A845F;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-shadow: 0 1px #6A845F;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px 20px;
    width: 160px;
    display: block;
}

/* New Color Palette */
#colorSelect {
    background: #fff;
    border-radius: 5px;
    clear: both;
    margin: 20px auto 0;
    padding: 10px;
    width: 100%;
    position: relative;
    display:none;
    z-index: 1000;
}
#colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

#newColor {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    box-shadow: none;
    float: left;
    border: none;
    margin: 10px 20px 20px 10px;
    display: block;

}
.sliders p {
    margin: 8px 0;
    vertical-align: middle;
}
.sliders label {
    display: block;
    margin: 0 10px 0 0;
    width: 35px;
    font-size: 14px;
    color: #6D574E;
}
.sliders input {
    position: relative;
    top: 2px;
}
#colorSelect button {
    border: none;
    border-top: 1px solid #6A845F;
    border-radius: 0 0 5px 5px;
    clear: both;
    margin: 10px -10px -7px;
    padding: 5px 10px;
    width: 100%;
}

#thickness {
    width: 70%;
    margin: 0 auto;
}